{{> components/navigation}}

<div class="masthead__container">
  <div class="container">
    <div class="row">
      {{> components/breadcrumb breadcrumbs=breadcrumbs}}
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center mb-lg-5 mb-4">
      <div class="col col-lg-4 col-12 mb-lg-2 mb-4" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
        <img loading="lazy" src="/images/banners/banner.jpg" class="w-100 pe-lg-3 pe-2"
          alt="Visa" />
      </div>
      <div class="col col-lg-4 col-12 position-relative">
        <div class="center-vertical">
          <h1 class="fw-bold fs-3 mb-lg-4 mb-3">
            Kami Selalu Abadikan
            Jejak Perjalanan Suci Jamaah
            Bersama Payung Madinah!
          </h1>
          <p class="mb-lg-5 mb-4">Lihat bagaimana setiap langkah para jamaah
            kami dipenuhi
            kebersamaan, kekhusyukan, dan keindahan ibadah di Tanah Suci</p>
          <a class="bt block-mobile orange text-white mb-0 mb-lg-2"
            href="http://linktr.ee/payungmadinahtour" target="_blank"><i
              class="bi bi-whatsapp me-2"></i>Konsultasi Gratis</a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-lg-5 mb-4">
      <div class="col col-lg-4 col-12 position-relative mb-lg-2 mb-4">
        <div class="center-vertical">
          <h1 class="fw-bold fs-3 mb-lg-4 mb-3">
            Dokumentasi Jamaah
          </h1>
          <p>Galeri ini merupakan dokumentasi penuh makna dari
            perjalanan ibadah para jamaah Payung Madinah.
            Setiap gambar adalah saksi bisu dari langkah-langkah
            menuju Baitullah, senyum kebahagiaan, tangis haru,
            dan momen spiritual yang tak tergantikan. Melalui galeri
            ini, kami ingin menghadirkan kembali nuansa suci
            perjalanan umroh dan haji yang telah kami dampingi,
            sekaligus menjadi inspirasi bagi Anda yang sedang
            menanti panggilan-Nya.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-12" data-aos="fade" data-aos-delay="250" data-aos-duration="1500">
        <img loading="lazy" src="/images/banners/banner3.webp" class="w-100 p-lg-3 p-2"
          alt="Visa" />
      </div>
    </div>
    <ul class="nav nav-tabs justify-content-end navigen-gallery" id="myTab"
      role="tablist">
      <li class="me-auto">
        <h2 class="fs-4 fw-bold mb-0">Momen Jamaah</h2>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="dubai-tab" data-bs-toggle="tab"
          data-bs-target="#dubai" type="button"
          role="tab" aria-controls="dubai" aria-selected="true">
          <div class="d-lg-block d-none">
            Umrah Plus Dubai
          </div>
          <div class="d-block d-lg-none">
            Dubai
          </div>
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="turki-tab" data-bs-toggle="tab"
          data-bs-target="#turki" type="button" role="tab"
          aria-controls="turki" aria-selected="false">
          <div class="d-lg-block d-none">
            Umrah Plus Turki
          </div>
          <div class="d-block d-lg-none">
            Turki
          </div>
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="thaif-tab" data-bs-toggle="tab"
          data-bs-target="#thaif" type="button" role="tab"
          aria-controls="thaif" aria-selected="false">
          <div class="d-lg-block d-none">
            Umrah Plus Thaif
          </div>
          <div class="d-block d-lg-none">
            Thaif
          </div>
        </button>
      </li>
      <li class="nav-item d-none" role="presentation">
        <button class="nav-link" id="alula-tab" data-bs-toggle="tab"
          data-bs-target="#alula" type="button" role="tab"
          aria-controls="alula" aria-selected="false">Umrah Plus Al-Ula</button>
      </li>
    </ul>
    <div class="tab-content mb-lg-5 mb-4" id="myTabContent">
      <div class="tab-pane fade show active" id="dubai" role="tabpanel"
        aria-labelledby="dubai-tab">
        <div class="photo-grid mt-lg-4 mt-3">
          <a href="/images/gallery/thaif/1.png" data-lightbox="dubai" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/thaif/1.png" alt="Photo 1">
          </a>
          <a href="/images/gallery/thaif/2.png" data-lightbox="dubai" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/thaif/2.png" alt="Photo 2">
          </a>
          <a href="/images/gallery/thaif/4.png" data-lightbox="dubai" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/thaif/4.png" alt="Photo 3">
          </a>
          <a href="/images/gallery/thaif/5.png" data-lightbox="dubai" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/thaif/5.png" alt="Photo 4">
          </a>
          <a href="/images/gallery/thaif/3.png" data-lightbox="dubai" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/thaif/3.png" alt="Photo 5">
          </a>
          <a href="/images/gallery/thaif/6.png" data-lightbox="dubai" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/thaif/6.png" alt="Photo 6">
          </a>
          <a href="/images/gallery/thaif/7.png" data-lightbox="dubai" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/thaif/7.png" alt="Photo 7">
          </a>
          <a href="/images/gallery/thaif/8.png" data-lightbox="dubai" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/thaif/8.png" alt="Photo 8">
          </a>
        </div>
      </div>
      <div class="tab-pane fade" id="turki" role="tabpanel"
        aria-labelledby="turki-tab">
        <div class="photo-grid mt-lg-4 mt-3">
          <a href="/images/gallery/turki/1.png" data-lightbox="turki" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/turki/1.png" alt="Photo 1">
          </a>
          <a href="/images/gallery/turki/2.png" data-lightbox="turki" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/turki/2.png" alt="Photo 2">
          </a>
          <a href="/images/gallery/turki/4.png" data-lightbox="turki" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/turki/4.png" alt="Photo 3">
          </a>
          <a href="/images/gallery/turki/5.png" data-lightbox="turki" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/turki/5.png" alt="Photo 4">
          </a>
          <a href="/images/gallery/turki/3.png" data-lightbox="turki" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/turki/3.png" alt="Photo 5">
          </a>
          <a href="/images/gallery/turki/6.png" data-lightbox="turki" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/turki/6.png" alt="Photo 6">
          </a>
        </div>
      </div>
      <div class="tab-pane fade" id="thaif" role="tabpanel"
        aria-labelledby="thaif-tab">
        <div class="photo-grid mt-lg-4 mt-3">
          <a href="/images/gallery/dubai/1.png" data-lightbox="thaif" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/dubai/1.png" alt="Photo 1">
          </a>
          <a href="/images/gallery/dubai/2.png" data-lightbox="thaif" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/dubai/2.png" alt="Photo 2">
          </a>
          <a href="/images/gallery/dubai/4.png" data-lightbox="thaif" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/dubai/4.png" alt="Photo 3">
          </a>
          <a href="/images/gallery/dubai/5.png" data-lightbox="thaif" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/dubai/5.png" alt="Photo 4">
          </a>
          <a href="/images/gallery/dubai/3.png" data-lightbox="thaif" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/dubai/3.png" alt="Photo 5">
          </a>
          <a href="/images/gallery/dubai/6.png" data-lightbox="thaif" data-aos="fade" data-aos-delay="0" data-aos-duration="1500">
            <img loading="lazy" src="/images/gallery/dubai/6.png" alt="Photo 6">
          </a>
        </div>
      </div>
      <div class="tab-pane fade" id="alula" role="tabpanel"
        aria-labelledby="alula-tab"></div>
    </div>
    <div class="row justify-content-center mb-lg-5 mb-4 mt-lg-5 mt-3 pt-lg-4 pt-2">
      <div class="col col-6">
        <h2 class="fw-bold fs-4 text-center color-orange">Top Destinasi Bersama Payung
          Madinah</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-lg-4 col-12">
        <div class="mb-lg-4 mb-3">
          <h3 class="fw-bold fs-5 text-start">
            <i class="bi bi-1-square-fill me-2 color-orange"></i>
            Umroh Plus Thaif</h3>
          <p class="fs-14">
            Thaif, kota sejuk yang terletak di pegunungan, menjadi destinasi
            penuh kedamaian dalam paket Umroh Plus Thaif. Selain dikenal
            sebagai tempat Rasulullah SAW menguatkan dakwahnya di
            masa awal Islam, Thaif juga menyuguhkan pemandangan alam
            yang memukau dan suasana yang tenang.
          </p>
        </div>
        <div class="mb-lg-4 mb-3">
          <h3 class="fw-bold fs-5 text-start"> <i class="bi bi-2-square-fill me-2 color-orange"></i>Umroh Plus Dubai
          </h3>
          <p class="fs-14">
            Dengan sentuhan modernitas dan kemewahan kelas dunia,
            Dubai menjadi pembuka perjalanan spiritual yang tak
            terlupakan. Dalam paket Umroh Plus Dubai, jamaah akan diajak
            menjelajahi keindahan arsitektur futuristik seperti Burj Khalifa,
            pengalaman berbelanja di Gold Souk, hingga menyusuri gurun
            dalam desert safari yang penuh petualangan.
          </p>
        </div>
        <div class="mb-lg-4 mb-3">
          <h3 class="fw-bold fs-5 text-start"> <i class="bi bi-3-square-fill me-2 color-orange"></i>Umroh Plus Turki
          </h3>
          <p class="fs-14">
            Turki menghadirkan pesona unik sebagai negara dua benua
            dengan kekayaan sejarah Islam dan budaya Ottoman. Dalam
            Umroh Plus Turki, jamaah akan mengunjungi landmark ikonik
            seperti Hagia Sophia, Masjid Biru, Istana Topkapi, hingga
            menyusuri selat Bosphorus.
          </p>
        </div>
      </div>
      <div class="col col-lg-4 col-12">
        <div class="mb-lg-4 mb-3" data-aos="fade" data-aos-delay="50" data-aos-duration="1500">
          <img loading="lazy" src="/images/banners/banner-last.webp" class="w-100"
            alt="Visa" />
        </div>
      </div>
    </div>
  </div>
</div>
{{> components/footer}}