<div class="container mt-4">
  <h3 class="fs-6">Tambah Catatan Keuangan</h3>
  <form method="POST" action="/services/keuangan/add">
    <div class="mb-3">
      <label class="form-label">Keterangan</label>
      <input type="hidden" name="user_id" value="{{userId}}">
      <input type="text" class="form-control" name="keterangan" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Jumlah</label>
      <input type="number" class="form-control" name="jumlah" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Tipe</label>
      <select class="form-select" name="tipe" required>
        <option value="pemasukan">Pemasukan</option>
        <option value="pengeluaran">Pengeluaran</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Tanggal</label>
      <input type="date" class="form-control" name="tanggal" required>
    </div>
    <button type="submit" class="btn btn-success mb-3">Simpan</button>
    <a href="/keuangan" class="btn btn-secondary">Kembali</a>
  </form>
</div>
