<!-- HEADER -->
<header class="app-header">
  <div class="header-left">
    <img src="/images/icons/image.png" alt="App Logo" class="app-logo">
    <span class="app-name">E-Ibu Cerdas</span>
  </div>
  <div class="header-right">
    <div class="d-flex gap-2">
      <div style="font-size: 14px;">
        <div style="line-height: 1.2; margin-top: 2px;">Hi {{name}}</div>
        <div class="text-success" style="font-size: 11px;">Online</div>
      </div>
      <a href="/profile">
        <img src="/images/icons/userlogin.png" loading="lazy" alt="User" class="user-thumb">
      </a>
    </div>
  </div>
</header>