<!-- HEADER -->
<header class="app-header">
  <div class="header-left">
    <img src="/images/icons/image.png" alt="App Logo" class="app-logo">
    <span class="app-name">E-Ibu Cerdas</span>
  </div>
  <div class="header-right">
    <a href="/profile">
      <img src="/images/icons/userlogin.png" alt="User" class="user-thumb">
    </a>
  </div>
</header>