<!-- CAROUSEL -->
<div class="carousel-container">
  <div class="carousel">
    <div><img src="/images/slide1.jpg" loading="lazy" alt="Slide 1"></div>
    <div><img src="/images/slide2.jpg" loading="lazy" alt="Slide 2"></div>
    <div><img src="/images/slide3.jpg" loading="lazy" alt="Slide 3"></div>
  </div>
</div>

<!-- CARD MENU -->
<section class="menu-grid">
  <a href="/investasi" class="menu-card">
    <div>
      <i class="bi bi-bar-chart mb-4"></i>
      <span>Investasi</span>
    </div>
  </a>
  <a href="/modul" class="menu-card">
    <div>
      <i class="bi bi-journal-bookmark mb-4"></i>
      <span>Modul</span>
    </div>
  </a>
  <a href="/video" class="menu-card">
    <div>
      <i class="bi bi-play-btn mb-4"></i>
      <span>Video</span>
    </div>
  </a>
  <a href="/berita" class="menu-card">
    <div>
      <i class="bi bi-newspaper mb-4"></i>
      <span>Berita</span>
    </div>
  </a>
  <a href="/keuangan" class="menu-card">
    <div>
      <i class="bi bi-briefcase mb-4"></i>
      <span>Keuangan</span>
    </div>
  </a>
  <a class="menu-card">
    <i class="bi bi-chat-quote mb-4"></i>
    <span>Live Chat</span>
  </a>
</section>

<section class="article-list">
  <h2 class="mb-lg-3 mt-4" style="font-size: 16px; padding-left: 16px; font-weight:bold;">Artikel Terbaru</h2>
  <div class="container">
    <div class="row" id="articleList">
      {{#each articles}}
      <div class="col-12 mb-3 p-0">
        <div class="h-100" style="border-bottom: 1px solid #eee;">
          <div class="row align-items-center">
            <!-- Teks -->
            <div class="col-md-9 col-9 py-3">
              <h5 class="card-title mb-1">
                <a href="{{link}}" target="_blank"
                  class="text-decoration-none text-dark">
                  {{title}}
                </a>
              </h5>
              <small class="text-muted d-block mb-2">
                {{source}}
              </small>
            </div>

            <!-- Gambar -->
            <div class="col-md-3 col-3">
              <img src="/images/article-thumb.jpg" class="img-fluid rounded-end"
                alt="{{title}}">
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>