<!-- CAROUSEL -->
<div class="carousel-container">
  <div class="carousel">
    <div><img src="/images/blogs/ai.webp" alt="Slide 1"></div>
    <div><img src="/images/blogs/ai.webp" alt="Slide 2"></div>
    <div><img src="/images/blogs/ai.webp" alt="Slide 3"></div>
    <div><img src="/images/blogs/ai.webp" alt="Slide 4"></div>
    <div><img src="/images/blogs/ai.webp" alt="Slide 5"></div>
  </div>
</div>

<!-- CARD MENU -->
<section class="menu-grid">
  <div class="menu-card">
    <a href="/investasi">
      <i class="bi bi-bar-chart mb-4"></i>
      <span>Investasi</span>
    </a>
  </div>
  <div class="menu-card">
    <i class="bi bi-journal-bookmark mb-4"></i>
    <span>Modul</span>
  </div>
  <div class="menu-card">
    <i class="bi bi-play-btn mb-4"></i>
    <span>Video</span>
  </div>
  <div class="menu-card">
    <i class="bi bi-newspaper mb-4"></i>
    <span>Berita</span>
  </div>
  <div class="menu-card">
    <i class="bi bi-play-btn mb-4"></i>
    <span>Keuangan</span>
  </div>
  <div class="menu-card">
    <i class="bi bi-chat-quote mb-4"></i>
    <span>Live Chat</span>
  </div>
</section>


<section class="article-list">
  <h2 class="section-title mb-lg-4 mb-3">Artikel Terbaru</h2>
    <article class="article-card">
      <img src="/images/blogs/html.webp" alt="Title of the Article" class="article-image">
      <div class="article-content">
        <h3>Title 1</h3>
        <p class="mb-0">Info ini terbaik sekali.</p>
      </div>
    </article>
</section>